body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#eef2f7;
}

.container{
    max-width:900px;
    margin:40px auto;
    padding:20px;
}

h1{
    text-align:center;
    color:#0b5ed7;
}

p{
    text-align:center;
    color:#666;
}

.card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

input{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:6px;
    box-sizing:border-box;
}

button{
    margin-top:15px;
    width:100%;
    padding:12px;
    background:#0b5ed7;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#084298;
}

.analyse{
    margin-top:25px;
    background:#198754;
}

.analyse:hover{
    background:#146c43;
}

pre{
    background:#f8f9fa;
    padding:15px;
    border-radius:6px;
    overflow:auto;
}

ul{
    padding-left:20px;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#0b5ed7;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

tr:hover{
    background:#f2f2f2;
}

#ticket{
    margin-top:20px;
    padding:15px;
    background:#fff3cd;
    border-radius:8px;
    font-size:20px;
    text-align:center;
    font-weight:bold;
}
